<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% extends 'layout.html' %}

    {% block title %}Semantica - register{% endblock %}

    {% block content %}
    <form method="POST" class="mt-3 w-25">
        <input type="text" name="username" class="form-control mb-2" placeholder="username">
        <input type="password" name="password" class="form-control mb-2" placeholder="password">
        <div class="interests d-flex justify-content-between">
            <div class="">
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="sport" name="i_sport">
                    <label class="form-check-label" for="i_sport">Sport</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="art" name="i_art">
                    <label class="form-check-label" for="i_art">Art</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="travels" name="i_travels">
                    <label class="form-check-label" for="i_travels">Travels</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="cooking" name="i_cooking">
                    <label class="form-check-label" for="i_cooking">Cooking</label>
                </div>
            </div>
            <div class="">
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="technology"
                        name="i_technology">technology
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="music" name="i_music">music
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="reading" name="i_reading">reading
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="movies" name="i_movies">movies
                </div>
            </div>
            <div class="">
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="games" name="i_games">games
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="animals" name="i_animals">animals
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="fashion" name="i_fashion">fashion
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="photography"
                        name="i_photography">photography
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Login</button>
    </form>
    {% endblock %}
</body>

</html>