<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% extends 'layout.html' %}

    {% block title %}Semantica - register{% endblock %}

    {% block content %}
    <form method="POST" class="mt-3 w-25">
        <input type="text" name="username" class="form-control mb-2" placeholder="username">
        <input type="password" name="password" class="form-control mb-2" placeholder="password">
        <div class="interests d-flex justify-content-between">
            <div class="">
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="wildlife.n.01" name="i_wildlife">
                    <label class="form-check-label" for="i_wildlife">Wildlife</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="pet.n.01" name="i_pet">
                    <label class="form-check-label" for="i_pet">Pets</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="aviary.n.01" name="i_aviary">
                    <label class="form-check-label" for="i_aviary">Aviary</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="ocean.n.01" name="i_marine_life">
                    <label class="form-check-label" for="i_marine_life">Marine life</label>
                </div>
            </div>
            <div class="">
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="terrarium.n.01"
                        name="i_terrarium">Terrarium
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="zoo.n.01" name="i_zoo">Zoo
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="aquarium.n.01"
                        name="i_aquarium">Fishkeeping
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="arachnid.n.01"
                        name="i_arachnids">Arachnids
                </div>
            </div>
            <div class="">
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="hunt.n.01" name="i_hunting">Hunting
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="dog.n.01" name="i_dogs">Dogs
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="cat.n.01" name="i_cat_fancier">Cats
                </div>
                <div class="form-check">
                    <input class="form-check-input me-2" type="checkbox" value="ornithology.n.01"
                        name="i_ornithology">Ornithology
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Register</button>
    </form>
    {% endblock %}
</body>

</html>