<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% extends 'layout.html' %}

    {% block title %}Semantica - search{% endblock %}

    {% block content %}

    <form method="POST" class="mt-3 row">
        <div class="col-auto">
            <input type="text" name="query" class="form-control" placeholder="Search for..."
                value="{{ request.form['query'] }}">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    {% if auth %}
    <div class="mt-3">User interests: <b><span id="auth_interests">{{ auth.interests }}</span></b></div>
    {% endif %}

    {% if searching_results %}
    <main class="mt-3 d-flex gap-3">
        <div>
            <h4>Recommended</h4>
            {% for result in searching_results.sorted_results %}
            <div class="mb-1 px-1">
                <div
                    class="px-1 d-flex justify-content-between {% if result.positions_difference > 0 %}bg-success-subtle{%endif%} {% if result.positions_difference < 0 %}bg-danger-subtle{%endif%}">
                    <div class="d-flex align-items-center">
                        <span class="me-2">{{ result.position }}.</span>
                        <a class="link-offset-2" href="{{ result.id }}">{{ result.title }}</a>
                        <button class="btn btn-sm like" data-result="{{result}}" data-synsets="{{result.synsets}}"
                            data-real-position="{{ loop.index }}">
                            <i class="fa-regular fa-heart ms-2"></i>
                        </button>
                        <button class="btn btn-sm mark-result" data-result="{{ result }}"
                            data-real-position="{{ loop.index }}" data-type="recommended">
                            <i class="fa-regular fa-thumbs-up"></i>
                        </button>
                    </div>
                    <div>
                        {% if result.positions_difference > 0 %}
                        {{ result.positions_difference }} positions up
                        <i class="fa-solid fa-chevron-up text-success ms-1"></i>
                        {%endif%}

                        {% if result.positions_difference < 0 %} {{ result.positions_difference * -1 }} positions down
                            <i class="fa-solid fa-chevron-down text-danger ms-1"></i>
                            {%endif%}
                    </div>
                </div>
                <div class="px-1"><b>Keywords:</b>
                    {% for keyword in result.keywords[:10] %}
                    {{keyword}},
                    {%endfor%}
                </div>
                <div class="px-1"><b>Synsets:</b>
                    {% for keyword in result.synsets[:10] %}
                    {{keyword}},
                    {%endfor%}
                </div>
                <div class="px-1">SemScore: {{ result.semantic_similarity }}</div>
            </div>
            {% endfor %}
        </div>
        <div>
            <h4>Default</h4>
            {% for result in searching_results.unsorted_results %}
            <div class="mb-1">
                <div class="d-flex">
                    <span class="me-2">{{ result.position }}.</span>
                    <a class="link-offset-2" href="{{ result.id }}">{{ result.title }}</a>
                    <button class="btn btn-sm mark-result" data-result="{{ result }}"
                        data-real-position="{{ loop.index }}" data-type="default">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </button>
                </div>
                <div><b>Keywords:</b>
                    {% for keyword in result.keywords[:10] %}
                    {{keyword}},
                    {%endfor%}</div>
            </div>
            {% endfor %}
        </div>
    </main>
    {% endif %}
    <script>
        $(function () {
            $('.like').bind('click', function () {
                $.getJSON($SCRIPT_ROOT + '/like', {
                    synsets: $(this).data('synsets'),
                    result: $(this).data('result'),
                    real_position: $(this).data('real-position'),
                }, function (data) {
                    $("#auth_interests").text(data.result);
                });
                return false;
            });
        });

        $(function () {
            $('.mark-result').bind('click', function () {
                $.getJSON($SCRIPT_ROOT + '/mark/', {
                    result: $(this).data('result'),
                    real_position: $(this).data('real-position'),
                    type: $(this).data('type'),
                }, function (data) {
                });
                return false;
            });
        })

    </script>
    {% endblock %}

</body>

</html>