<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantica - search</title>
</head>

<body>
    {% block content %}
    <form method="POST">
        <input type="text" name="query" placeholder="Search for..." value="{{ request.form['query'] }}">
        <button type="submit">Search</button>
    </form>
    {% endblock %}

    {% if users %}
    {%for user in users%}
    <li>{{user.id}}. {{user.username}}: {{user.interests}}</li>
    {% endfor %}
    {% endif %}

    <br />

    {% if auth %}
    Authenticated as: {{ auth }}: <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}

    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
</body>

</html>